
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}
/* #region header */

.header{
    background-color: #FFFFFF;
}

.header-ul{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a{
    text-decoration: none;
    color: #2E2F42;
}

ul,
ol{
    list-style-type: none;
}
/*2E2F42*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
 
.header-nav 
.logo-studio{
    color: #2E2F42;
}

.footer
.logo-studio{
    color: #F4F4FD;
}

.logo:hover,
.logo:focus{
    cursor:default;
}

.item-link:hover,
.item-link:focus {
    color: #404BBF;
}

/* #endregion */

/* #region header*/
.hero{
    background-color: #2E2F42;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.button{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.button:hover,
.button:focus{
    background-color: #404BBF;
}


/* #endregion */

